asn1crypto==0.24.0
cffi==1.11.5
Click==7.0
cryptography==2.4.1
Flask==1.0.2
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
pycparser==2.19
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
Werkzeug==0.15.5

